#initially-hidden {
  display: none;
}
#initially-hidden-otter {
  display: none;
}
.clickable1 {
  cursor: pointer;
  color: blue;
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: blue;
}

.clickable2:hover {
  text-decoration: underline;
}

.clickable2:link {
  font-size: 100px;
}

img {
  width: 100%;
  max-height: 500px;
}
.for-img {
  min-height: 500px;
}
